*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif ;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1149px;
    margin: 0 auto;
}

header.header{
    
    background-color: #f9fff2;
    background-image: url("../assets/images/MaskGroup.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

header.header .header-menu{
    display:flex;
    justify-content: space-between;
}
header.header .header-menu ul{
    list-style: none;
    display: flex;
    /*Se añade un ancho para que el espacio que le sobre pueda aplicarlo a space-between*/
    width: 40%; 
    justify-content: space-between;
    align-items: center;
}

/* header.header .header-menu ul li a{
    text-decoration: none;
} */

.header-introduction{
   text-align: center;
   width: 50%;
   padding: 55px 0;
   margin: 0 auto;
}

/*.header-introduction{
    display: flex;
    flex-direction: column;
    Se utiliza align-items porque los ejes se invierten por 'column'
    align-items: center;
}*/