*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin: 10px;
    border: 5px solid magenta;  
}

header .header .nav{
    border: 5px solid green; 
    background-color: orange;
    padding: 5px 5px;
    margin-bottom: 5px;
}

.content{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.content .aside{
    background-color: orange;
    border: 5px solid red;
    padding-bottom: 300px;
}

.content .main{
    background-color: orangered;
    border: 5px solid;
    color: black;
}

.content .main article{
    background-color: orange;
    border-radius: 5px;
    padding: 5px 0 50px 5px;
    align-items: center;
    margin: 10px;
}


.footer{
    background-color: magenta;
    margin: 10px;
    padding-bottom: 50px;
    border: 5px solid purple;
}

@media only screen and (max-width: 768px){
    .content .aside{
        margin-bottom: 10px;
    }
}