$border: 1px solid red;
$color-white:white;
$color-red:red;
$color-black:black;

.section{
    border: $border;
    height: 200px;

    .form-login{
        border: $border;
        padding: 20px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    
        &.form-new{
            background-color: gray;
        }

        input{
            height: 25px;
            border: $border;
            border-radius: 50px;
            padding-left: 10px;
            margin: 10px 0;
        }
        .button {
            height: 25px;
            border:none;
            border-radius: 5px;
            background-color: rgba(94, 57, 163, 0.493);
            color:$color-white;

            &:hover{
                background-color: $color-black;
                color: $color-white;
            }
        }
    }
}